@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    @apply font-body bg-base    
}
@layer components {
    .max-container {
        max-width: 1024px;
        margin: 0 auto;

        @media (min-width: 1536px) {
            max-width: 1440px;
        }
    }
}
.glass-bg {
    background: rgba(0, 0, 0, 0.1);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(14.5px);
    -webkit-backdrop-filter: blur(14.5px);
}
#TA_selfserveprop588{
}
.widSSP{
}
@media not all and (min-width: 640px) {
    .widSSP{
        width: 100% !important;
    }
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
input:-webkit-autofill, 
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #f1f1f1;
  transition: background-color 5000s ease-in-out 0s;
}